.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: antiquewhite;
}

.main.touched {
  background-color: red;
}

.video {
  background-color: #333;
}

.trainDone {
  display: none;
}

.trainDoneOk {
  display: inline-block;
}

.control {
  margin-top: 20px;
}

.btn {
  padding: 4px 16px;
  font-size: 1.4rem;
  margin: 0 8px;
}
